@import "fonts";

body {
  background-color: #fafafa;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#606060;
  font-weight:400;
}

// #wrapper {
//   // calibrated for ~70 character width
//   width: 500px;
//   margin: 0px auto;
// }

header {
  color: #222222;
  text-align: center;
}

section {
  h1 {
    font-size: 2em;
  }
}

a {
  color: #2d8db3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.divider {
  display: flex;
  justify-content: center;
}

.divider-section {
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 2px;
  text-align: left;
  background-color: #fff;
  padding: 4px 12px;
  margin: 0 8px; 
}