@import "fonts";

$text_width: 500px;

body {
  background-color: #fafafa;
  padding: 26px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  font-weight:400;
}

header {
  text-align: center;
}

section {
  h1 {
    font-size: 2em;
  }
}

a {
  color: #15a8e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.divider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divider-section {
  width: $text_width;
  border: 1px solid lightgray;
  border-radius: 2px;
  text-align: left;
  background-color: rgba(255,255,255,0.5);
  padding: 4px 12px;
  margin: 0 8px 20px; 
}

img, iframe {
  max-width: $text_width;
}

#amination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}